:root {
  /* الألوان الرئيسية */
  --main-color-component: #030718;
  --main-color-page: #0d1529;
  --main-color-aside: #0d1529;
  --main-color-linear-bg: linear-gradient(to left, #865df5, #7661f3, #6566f1);
  --text-main-color: white;
  --text-main: #7262f3;
  --main-border-nav: #1d293d;
  --text-main-color-2: #90a1b9;
  --main-color-sid: #1b3458;
  --main-color-sid-hover: #092c61;
  --main-backgr-side: #151f33;
  --text-main-2: #f35e54;
  --text-main-3: #0ba875;
  --text-main-4: #1e9ee3;
  --text-main-5: #f24152;
  --text-main-6: #ef790b;
  --main-color-active-person: #0c2e36;
  --main-color-custom: #0b1327;
  --main-page-2: #111834;
  --main-custom-head: #1d293d;
  --main-border-head: #314158;
  --btn-main-color: white;
  --btn-main-color-hover: black;
  --btn-main-color-hover-2: white;
  --main-color-footer: #020618;
}

.mainColor {
  --text-main: #7262f3;
  --main-color-linear-bg: linear-gradient(to left, #865df5, #7661f3, #6566f1);
}

.colorRed {
  --text-main: #f35e54;
  --main-color-linear-bg: linear-gradient(to left, #f35e54, #f06f66, #ec8078);
}

.tealGreen {
  --text-main: #0ba875;
  --main-color-linear-bg: linear-gradient(to left, #0ba875, #2db98a, #4fcaa0);
}

.skyBlue {
  --text-main: #1e9ee3;
  --main-color-linear-bg: linear-gradient(to left, #1e9ee3, #4fb3ea, #80c8f1);
}

.crimsonRed {
  --text-main: #f24152;
  --main-color-linear-bg: linear-gradient(to left, #f24152, #f56573, #f88994);
}

.orangeA {
  --text-main: #ef790b;
  --main-color-linear-bg: linear-gradient(to left, #ef790b, #f2943d, #f5af6f);
}

html.light {
  --main-color-page: #eaeef2;
  --main-color-aside: #ffffff;
  --main-color-component: #ffffff;
  --main-color-active-person: #ffffff;
  --text-main-color: black;
  --main-border-nav: #d2dae6;
  --main-border-head: #d2dae6;
  --main-color-sid: #eff4fa;
  --main-color-sid-hover: #e2e8f0;
  --main-backgr-side: transparent;
  --main-color-custom: #ffffff;
  --main-page-2: #ffffff;
  --main-custom-head: #eff0f5;
  --btn-main-color: var(--text-main);
  --btn-main-color-hover: white;
  --btn-main-color-hover-2: var(--text-main);
  --main-color-footer: #f1f5f9;
}

/* خطوط المشروع */
@font-face {
  font-family: Tajawal;
  src: url("/font/Tajawal/Tajawal-Bold.ttf");
}

@font-face {
  font-family: Alexandria;
  src: url("/font/Alexandria/Alexandria-VariableFont_wght.ttf");
}

@font-face {
  font-family: Cairo;
  src: url("/font/Cairo/Cairo-VariableFont_slnt,wght.ttf");
}
/*****************************************************************************/

body {
  background-color: var(--main-color-page);
  font-family: Tajawal, sans-serif;
  scroll-behavior: smooth;
}

.bg-Purple {
  background: var(--main-color-linear-bg);
}
.bg-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.bg-darkblue {
  background-color: var(--main-color-component);
}

.nav-border {
  border-bottom: 2px solid var(--main-border-nav);
  z-index:999;
top: 0;
}

.nav-border-2{
  border-bottom: 2px solid var(--main-border-nav);
}

.text-Purple {
  background: var(--main-color-linear-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.menu-icon i {
  cursor: pointer;
  color: var(--text-main-color-2);
}

.slider-navber {
  background-color: #070b1c;
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  transform: translateX(170%);
  transition: transform 0.3s ease;
}

.slider-navber.active {
  transform: translateX(0);
}

.nav-link {
  color: var(--text-main-color-2);
  transition: all ease 0.3s;
  position: relative; /* مهم جدًا */
  padding: 10px 15px; /* حجم ثابت */
}

.nav-link:hover {
  color: var(--text-main);
  background-color: #0c0f2f;
  border-radius: 8px;
}

.nav-link.active {
  background: var(--main-color-linear-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  right: 0; /* أو right: 0 حسب اتجاهك */
  top: 50%; /* منتصف ارتفاع العنصر */
  transform: translateY(-50%);
  width: 4px;
  height: 40px; /* طول ثابت */
  background: var(--main-color-linear-bg);
  border-radius: 20px; /* أو حسب رغبتك */
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #182968;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input:checked + .slider {
  background-color: white;
  border: 2px solid var(--main-border-nav);
}

.slider::before {
  content: "🌙";
  position: absolute;
  right: 3px; /* البداية من اليمين */
  top: 3px;
  width: 24px;
  height: 24px;
  background: var(--main-color-component);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

/* لما تضغط */
input:checked + .slider::before {
  transform: translateX(-30px); /* يتحرك شمال */
  content: "☀️";
  background: white;
}

aside {
  background-color: var(--main-color-aside);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: all ease 0.3s;
}
aside.active-side {
  transform: translateX(0);
}

.sidebar-nav {
  border-left: 2px solid var(--main-border-nav);
  border-bottom: 2px solid var(--main-border-nav);
  flex-shrink: 0;
}
.sidebar-nav h5 {
  color: var(--text-main-color);
}

.icon-flter {
  background: var(--main-color-linear-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-side-icon {
  background-color: var(--main-color-sid);
  transition: all ease 0.3s;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.bg-side-icon:hover {
  background-color: var(--main-color-sid-hover);
}
.bg-side-icon:hover i {
  color: var(--text-main);
}

.bg-side-icon i {
  color: var(--text-main-color-2);
}

.sidbar-body {
  overflow-y: auto;
  flex: 1;
}


.sidbar-body p,
.icon-side-them {
  color: var(--text-main-color-2);
}
.sidbar-body h3 {
  color: var(--text-main-color);
  transition: all ease 0.3s;
}

.card-child-sid {
  border: 2px solid var(--main-border-nav);
  cursor: pointer;
  transition: all ease 0.3s;
}
.card-child-sid:hover {
  background-color: var(--main-backgr-side);
}
.card-child-sid:hover h3 {
  color: var(--text-main);
}

.active-sidebar {
  border: 2px solid var(--text-main);
  background-color: var(--main-backgr-side);
  position: relative;
}
.active-sidebar::after {
  content: "\f00c"; /* ✔️ */
  font-family: "Font Awesome 5 Free"; /* مهم جدًا */
  font-weight: 900; /* علشان solid */
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: var(--text-main);
  color: var(--main-color-component);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-bottom-side {
  border-bottom: 1px solid var(--main-border-nav);
  width: 80%;
  margin: auto;
}

.card-color-1,
.card-color-2,
.card-color-3,
.card-color-4,
.card-color-5,
.card-color-6 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--main-border-nav);
}

.card-color-1 {
  background: linear-gradient(to left, #865df5, #7661f3, #6566f1);
}
.card-color-2 {
  background-color: var(--text-main-2);
}
.card-color-3 {
  background-color: var(--text-main-3);
}
.card-color-4 {
  background-color: var(--text-main-4);
}
.card-color-5 {
  background-color: var(--text-main-5);
}
.card-color-6 {
  background-color: var(--text-main-6);
}

.sidebar-nav-bttom {
  border: 2px solid var(--main-border-nav);
}

.hover-t {
  transition: all ease 0.3s;
}

.hover-t:hover {
  transform: scale(1.1);
  border: 2px solid var(--text-main);
}

.active-color {
  box-shadow:
    0 0 0 3px black,
    0 0 0 5px var(--text-main);
}

.btn-sid {
  background-color: var(--main-color-sid-hover);
  padding: 15px 70px;
  border: none;
  border-radius: 15px;
  color: var(--text-main-color-2);
  font-size: large;
  font-weight: bold;
  transition: all ease 0.3s;
}

.btn-sid:hover {
  background-color: red;
  color: white;
}

.show-slide {
  position: absolute;
  width: 50px;
  height: 45px;
  border-top: 2px solid var(--main-border-nav);
  border-left: 2px solid var(--main-border-nav);
  border-bottom: 2px solid var(--main-border-nav);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
  z-index: 99999;
  transform: translateY(-50%);
  top: 50%;
  left: -14%;
  background-color: var(--main-color-aside);
}
.show-slide:hover i {
  transform: rotate(90deg);
}

.show-slide i {
  color: var(--text-main-color-2);
  transition: all ease 0.5s;
}

.circle {
  padding-top: 20%;
  overflow: hidden;
}

.circle-role {
  width: 22rem;
  height: 22rem;
  border: 2px dashed var(--text-main);
  border-radius: 50%;
  animation: rotateCircle 20s linear infinite;
  overflow: hidden;
  z-index: -20;
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-image .img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border: 2px solid var(--text-main);
  position: absolute;
  right: 10%;
  bottom: 50%;
  transform: translateY(-10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.hero-image .img img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px black,
    0 0 5px 11px var(--text-main);
}

.icon {
  width: 55px;
  height: 55px;
  background-color: var(--main-color-aside);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  animation: float 3s ease-in-out infinite;
  border: 1px solid var(--main-border-nav);
  position: absolute;
}

.icon1 {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #61dafb;
}
.icon2 {
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  color: var(--text-main);
}
.icon3 {
  bottom: 5%;
  right: 20px;
  color: #f24e1e;
}
.icon4 {
  top: 30%;
  right: -15px;
  color: #4fc08d;
}

/* اختلاف الحركة */
.icon2 {
  animation-delay: 1s;
}
.icon3 {
  animation-delay: 2s;
}
.icon4 {
  animation-delay: 1.5s;
}

/* الطفو */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.active-person {
  background-color: var(--main-color-active-person);
  color: #00d492;
  border: 2px solid #00d492;
  border-radius: 20px;
  padding: 7px 15px;
  font-size: 0.9rem;
}

.inmation-shadow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #00d492;
  border-radius: 50%;
  margin-right: 8px;

  /* الأنيميشن */
  animation: glowPulse 1.5s infinite;
}

/* الأنيميشن */
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 212, 146, 0.7);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(0, 212, 146, 0.4);
    opacity: 0.5;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 212, 146, 0);
    opacity: 1;
  }
}

.head-person p,
.description-head {
  color: var(--text-main-color-2);
  font-size: 0.9rem;
}

.bg-code {
  background-color: var(--text-main);
  width: 20px;
  height: 20px;
  padding: 13px;
  margin-left: 5px;
}

.color-white {
  color: var(--text-main-color);
}

.bg-front {
  background-color: var(--main-color-custom);
  border: 3px solid var(--main-border-nav);
  padding: 8px 13px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.description-head .descri-head {
  color: var(--text-main);
}

.btns-head button:first-of-type {
  background: var(--main-color-linear-bg);
  border: none;
  color: white;
  padding: 12px 17px;
  border-radius: 15px;
  transition: all ease 0.3s;
}

.btns-head button:first-of-type:hover {
  background: var(--text-main);
}

.btns-head button:first-of-type:hover i {
  transform: translateX(-5px);
}
.btns-head button:last-of-type {
  background-color: var(--main-color-custom);
  border: 3px solid var(--main-border-nav);
  color: var(--text-main-color);
  padding: 12px 17px;
  border-radius: 15px;
  transition: all ease 0.3s;
  margin-right: 10px;
}

.btns-head button:last-of-type:hover {
  border: 3px solid var(--text-main);
  color: var(--text-main);
}

.btns-head button:last-of-type:hover i {
  transform: translate(5px, -5px);
}

.btns-head button i {
  transition: all ease 0.3s;
}

.next,
.tailwind,
.TypeScript,
.React {
  color: var(--text-main-color-2);
  border: 2px solid var(--main-border-nav);
  background-color: var(--main-color-custom);
  border-radius: 12px;
  font-size: 0.9rem;
  padding: 8px 11px;
  transition: all ease 0.3s;
}

.next:hover {
  border: 2px solid var(--text-main-color);
}

.tailwind i {
  color: #38bdf8;
}
.tailwind:hover {
  border: 2px solid #38bdf8;
}
.TypeScript i {
  color: #3178c6;
}
.TypeScript:hover {
  border: 2px solid #3178c6;
}

.React i {
  color: #61dafb;
  transition: all ease 0.3s;
}
.React:hover {
  border: 2px solid #61dafb;
}
.React:hover i {
  transform: rotate(90deg);
}

.showBtnmore p {
  color: var(--text-main-color-2);
  font-size: 0.9rem;
  transition: all ease 0.3s;
  cursor: pointer;
}

.showBtnmore p:hover {
  color: var(--text-main);
}

.show-more-in {
  padding: 13px 7px;
  border: 3px solid var(--main-border-nav);
  border-radius: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}
.show-more-in:hover {
  border: 3px solid var(--text-main);
}

.show-more-inn {
  width: 4px;
  height: 10px;
  background-color: var(--text-main);
  border-radius: 10px;
}

.showBtnmore {
  animation-name: floatShowMore;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-direction: alternate;
}

@keyframes floatShowMore {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
/******************head 2*********************************/
.head-2 {
  width: 100%;
  background-color: var(--main-page-2);
  padding-top: 90px ;
}

.head-text-2 p {
  color: var(--text-main);
}

.head-text-2 h2 {
  font-size: 2.8rem;
}

.head-text-2 h2,
.text-head-2 h2 {
  background: var(--main-color-linear-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-1,
.text-11,
.s3 {
  background: var(--text-main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-po,
.text11-poo {
  position: relative;
}

.text-po::before,
.text11-poo::before {
  content: "";
  position: absolute;
  background: var(--text-main);
  bottom: -15px; /* بدل top */
  left: -25%;
  width: 130%;
  height: 5px;
  border-radius: 15px;
}

.text-head-2 p {
  margin-top: 15px;
  color: var(--text-main-color-2);
  font-size: 0.9rem;
}

.user-new {
  background-color: var(--main-custom-head);
  padding: 7px 15px;
  border-radius: 20px;
}
.user-new i,
.box-head i {
  color: var(--text-main);
}
.user-new p {
  color: var(--text-main-color);
  font-size: 0.8rem;
}

.box-head {
  padding: 15px;
  background-color: var(--main-custom-head);
  border: 2px solid var(--main-border-head);
  border-radius: 15px;
}
.box-head p {
  color: var(--text-main-color);
  font-size: 0.9rem;
}

.box-head ul li {
  color: var(--text-main-color-2);
}
.box-head ul li:nth-child(1)::marker {
  color: var(--text-main);
}
.box-head ul li:nth-child(2)::marker {
  color: #8a5bf4;
}
.box-head ul li:nth-child(3)::marker {
  color: #a754f5;
}
.box-head ul li:nth-child(4)::marker {
  color: #00bb7c;
}

.code-card {
  border-radius: 14px;
  overflow: hidden;
  background: #020618;
  border: 2px solid #122454;
  transition: all ease 0.3s;
}
.code-card:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

/* Header */
.code-header {
  background: #0b1328;
  padding: 10px 15px;
  color: #9ca3af;
  font-size: 14px;
}

/* dots */
.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.green {
  background: #27c93f;
}
.yellow {
  background: #ffbd2e;
}
.red {
  background: #ff5f56;
}

/* Code body */
.code-body {
  padding: 20px;
  font-family: "Consolas", monospace;
  font-size: 14px;
  direction: ltr;
  color: #e6edf3;
}

/* syntax colors (VS Code style تقريبًا) */
.comment {
  color: #62748e;
}
.keyword {
  color: #c27aff;
}
.var {
  color: #50a2ff;
}
.prop {
  color: #05df72;
}
.string {
  color: #fdc700;
}
.number {
  color: #b5cea8;
}
.boolean {
  color: #569cd6;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

.box-conta {
  background-color: var(--main-custom-head);
  width: 33.333%;
  padding: 10px 0;
  border: 2px solid var(--main-border-head);
  border-radius: 15px;
  transition: all ease 0.3s;
}
.box-conta:hover {
  border: 2px solid var(--text-main);
}

.box-conta h4 {
  color: var(--text-main);
}
.box-conta p {
  color: var(--text-main-color-2);
}

.boxb-had {
  width: 15px;
  height: 15px;
  background-color: var(--main-custom-head);
  border: 2px solid var(--main-border-head);
  border-radius: 10px;
  padding: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}
.boxb-had-1:hover {
  background-color: #ea4c89;
  border: 2px solid #ea4c89;
}
.boxb-had-2:hover {
  background-color: #1da1f2;
  border: 2px solid #1da1f2;
}
.boxb-had-3:hover {
  background-color: #0a66c2;
  border: 2px solid #0a66c2;
}
.boxb-had-4:hover {
  background-color: #5a5fda;
  border: 2px solid #5a5fda;
}

.boxb-had i {
  color: var(--text-main-color);
}
/****************************head 3****************************/
.head-3 {
  width: 100%;
  background-color: var(--main-color-page);
padding: 90px;
}
.text-poo::before {
  width: 300%;
  left: -80%
}

.box-trafic {
  background-color: var(--main-color-aside);
  border: 2px solid var(--main-border-nav);
  border-radius: 15px;
  transition: all ease 0.3s;
}
.box-trafic:hover {
  border: 2px solid var(--text-main);
  transform: scale(1.03);
}
.box-trafic i {
  color: var(--text-main);
}
.box-trafic h3 {
  color: var(--text-main-color);
}
.box-trafic p {
  color: var(--text-main-color-2);
}

.border-out {
  width: 95%;
  height: 13px;
  background-color: #314158;
  border-radius: 20px;
}

.border-in {
  width: 92%;
  height: 13px;
  background: var(--main-color-linear-bg);
  border-radius: 20px;
}
.border-in-2 {
  width: 88%;
}
.border-in-3 {
  width: 84%;
}
.border-in-4 {
  width: 94%;
}
.border-in-5 {
  width: 80%;
}
.border-in-6 {
  width: 90%;
}

.traffic-codes {
  background-color: var(--main-color-aside);
  border: 2px solid var(--main-border-nav);
  border-radius: 15px;
  padding: 23px 0;
}
.traffic-codes i {
  color: #2b7fff;
  font-size: 2.8rem;
}
.traffic-codes-2 i {
  color: #ff6900;
}
.traffic-codes-3 i {
  color: #fb2c36;
}
.traffic-codes-4 i {
  color: #fdc700;
}
.traffic-codes p {
  color: var(--text-main-color-2);
}
/**************************head 4************************************/

.head-4 {
  width: 100%;
  background-color: var(--main-page-2);
  padding-top: 90px;
  padding-bottom: 90px;
}
.text11-poo::before {
  left: -80%;
}
.cards-menu{
  transition: all ease 0.3s;
}

.cards-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cards-menu.hide {
  opacity: 0;
  transform: scale(0.9);
}

.menu-btns button {
  border: none;
  border-radius: 15px;
  border: 2px solid var(--main-border-head);
  padding: 15px 0;
  width: 30%;
  color: var(--text-main-color-2);
  background-color: var(--main-custom-head);
  transition: all ease 0.3s;
  font-size: 0.9rem;
}

.menu-btns button:hover {
  background-color: var(--main-border-head);
}

.active-menu-btn {
  background: var(--main-color-linear-bg);
  color: white !important;
  border: none !important;
  transition: all ease 0.3s;
}
.active-menu-btn:hover {
  box-shadow: 0 3px 5px var(--text-main);
}

.cards {
  border: 2px solid var(--main-border-head);
  border-radius: 17px;
  overflow: hidden;
}
.cards:hover {
  border: 2px solid var(--text-main);
  transition: all ease 0.3s;
}
.cards:hover .cards-img-top img {
  transform: scale(1.1);
}

.card-bottom {
  background-color: var(--main-custom-head);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cards-img-top {
  position: relative;
  overflow: hidden;
  transition: all ease 0.3s;
  aspect-ratio: 16 / 9;
}

.cards-img-top::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.781);
  filter: blur(30px);
  opacity: 0;
  transition: 0.4s;
}

.cards:hover .cards-img-top::after {
  opacity: 1;
  bottom: 0;
}
.cards-img-top img {
  background-color: var(--main-custom-head);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all ease 0.5s;
  object-fit: cover;
}

.cards-icon {
  background-color: var(--main-border-head);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
}
.cards-icon:hover {
  background-color: var(--text-main);
}
.cards-icon i {
  color: var(--text-main-color);
}

.mwkegweb {
  color: #6366f1;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--main-border-head);
  font-size: 0.9rem;
}

.matger h5 {
  color: var(--text-main-color);
}
.matger p {
  color: var(--text-main-color-2);
  font-size: 0.9rem;
  margin-top: 20px;
}
.mwkegweb-list div {
  color: var(--text-main-color);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--main-border-head);
  font-size: 0.7rem;
}
.btn-head-4 {
  background: var(--main-color-linear-bg) !important;
  color: white !important;
  padding: 15px 30px;
  transition: all ease 0.3s;
  border-radius: 15px;
}
.btn-head-4:hover {
  transform: translateY(-5px);
}

/******************head 5*****************************************/

.head-5 {
  width: 100%;
  background-color: var(--main-color-page);
  padding-top: 90px;
  padding-bottom: 90px;
}

.timeline {
  position: relative;
  padding: 10px 0;
  margin-top: 50px;
}

/* الخط اللي في النص */
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background: #6d28d9;
  transform: translateX(-50%);
  display: none;
  border-radius: 15px;
}

/* النقاط */
.timeline-point {
  width: 18px;
  height: 18px;
  background: #6d28d9;
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-card {
  background: var(--main-color-custom);
  border-top: 3px solid #6d28d9;
  border-left: 1px solid var(--main-border-head);
  border-right: 1px solid var(--main-border-head);
  border-bottom: 1px solid var(--main-border-head);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.timeline-card:hover {
  border-left: 1px solid var(--text-main);
  border-right: 1px solid var(--text-main);
  border-bottom: 1px solid var(--text-main);
}

.mwkegweb-2 {
  padding: 10px;
  border-radius: 12px;
}

.mwkegwebicon i {
  color: var(--text-main);
}

.matger h3 {
  color: var(--text-main-color);
}
.matger h5 {
  color: var(--text-main);
}

.badge-custom {
  background: #6d28d9;
  font-size: 12px;
}

.icon-box {
  color: #a78bfa;
  font-size: 20px;
}

.traffic-codes h2 {
  color: var(--text-main-color);
}

.traffic-codes-icon {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: var(--main-color-linear-bg);
}
.traffic-codes-icon i {
  color: var(--text-main-color);
  font-size: 1.6rem;
}

/******************head 6******************************************/
.head-6 {
  width: 100%;
  background-color: var(--main-page-2);
  padding-top: 90px;
}

.text11-poo::before {
  left: -50%;
}

.card-customer {
  background-color: var(--main-custom-head);
  border: 2px solid var(--main-border-head);
  border-radius: 15px;
  transition: all ease 0.3s;
  margin-top: 50px;
}
.card-customer:hover {
  border: 2px solid var(--text-main);
}



.card-customer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--text-main);
}
.card-customer h6 {
  color: var(--text-main-color);
}
.card-customer p {
  color: var(--text-main-color-2);
  font-size: 0.9rem;
}

.circle-2{
  transform: translateY(180%);  
}

.circle-2 button {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--main-custom-head) !important;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 50%;
}

.circle-2 button.active {
 background-color:  var(--text-main) !important;

}
.circle-2 button:hover {
  transform: scale(1.1);
}


.next-btn,
.prev-btn {
  width: 50px;
  height: 50px;
  background-color: var(--main-custom-head) !important;
  transition: all ease 0.3s;
  cursor: pointer;
  border: 2px solid var(--main-border-head) !important;
  
}
.next-btn:hover,
.prev-btn:hover {
  background-color: var(--text-main) !important;
  transform: scale(1.1);
  border: none;
}
.next-btn i,
.prev-btn {
  color: white;
}

.next-btn {
  right: -4%;
  top: 40%;
}
.prev-btn {
  left: -4%;
  top: 40%;
}

.box-customerrr {
  border: 5px solid var(--text-main);
  border-radius: 15px;
  background-color: var(--main-custom-head);
}
.box-customerrr h2 {
  color: var(--text-main-color);
  font-size: 2rem;
}
.box-customerrr p {
  color: var(--text-main-color-2);
  font-size: 1.3rem;
}
.box-customerrr button:nth-child(2) {
  border: 3px solid var(--btn-main-color);
  color: var(--btn-main-color);
  border-radius: 15px;
  padding: 13px 10px;
  transition: all ease 0.3s;
}
.box-customerrr button:nth-child(2):hover {
  background-color: var(--btn-main-color-hover-2);
  color: var(--btn-main-color-hover);
}
.box-customerrr button:nth-child(1) {
  background: var(--main-color-linear-bg);
  color: white;
  border-radius: 15px;
  padding: 13px 25px;
  transition: all ease 0.3s;
}
.box-customerrr button:nth-child(1):hover {
  box-shadow: 0 5px 10px var(--text-main);
}

/*******************head 7******************************/
.head-7 {
  width: 100%;
  background-color: var(--main-color-page);
  padding-top: 90px;
  padding-bottom: 90px;
}

.traffic-codes-3 h2 {
  color: var(--text-main);
}
.traffic-codes-3 p {
  color: var(--text-main-color-2);
}

.traffic-codes-icon {
  width: 80px;
  height: 80px;
}
.traffic-codes-icon i {
  font-size: 2rem;
  color: white;
}
/***********************************************/

.call{
  width: 100%;
  background-color: var(--main-page-2);
  padding-top: 90px;
  padding-bottom: 90px;
}

.call-text h5 {
  color: var(--text-main-color-2);
  margin-top: 40px;
}

.text11-poo::before {
  left: -80%;
}

.card-call {
  border: 2px solid var(--main-border-head);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
  background-color: var(--main-custom-head);
}
.card-call:hover {
  transform: translateY(-7px);
  border: 2px solid var(--text-main);
}
.card-call:hover .icon-email {
  transform: scale(1.1);
}
.card-call h5,
.card-call p {
  color: var(--text-main-color-2);
}
.card-call h4 {
  color: var(--text-main-color);
}

.icon-email {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  padding: 15px;
  background: var(--main-color-linear-bg);
  box-shadow: 0 0 10px var(--text-main);
  transition: all ease 0.3s;
}

.card-follow {
  border: 4px solid var(--text-main);
  border-radius: 15px;
  padding: 30px 10px;
  margin-top: 25px;
}
.card-follow h3 {
  color: var(--text-main-color);
}

.icon-follwo {
  background-color: var(--main-border-head);
  border-radius: 15px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.icon-follwo:hover {
  background-color: var(--text-main);
  transform: scale(1.2);
}
.icon-follwo i {
  color: var(--text-main-color-2);
  transition: all ease 0.3s;
}

.icon-follwo:hover i {
  color: white;
}

.call-me {
  background-color: var(--main-custom-head);
  padding: 20px 15px;
  border: 2px solid var(--main-border-head);
  border-radius: 15px;
}
.call-me label {
  color: var(--text-main-color);
  font-size: 1.1rem;
}
.call-me input,
.call-me select,
.call-me textarea {
  border-radius: 13px;
  padding: 17px 12px;
  margin-top: 10px;
  background-color: var(--main-color-custom);
  border: 2px solid var(--main-border-head);
}
.call-me .form-control {
  box-shadow: 0;
  outline: 0;
}
.call-me input:focus,
.call-me select:focus,
.call-me textarea:focus {
  background-color: var(--main-color-custom);
  box-shadow: 0 0 7px var(--text-main);
  border: 2px solid var(--text-main);
  color: var(--text-main-color-2) !important;
}
.call-me input::placeholder,
.call-me select::placeholder,
.call-me textarea::placeholder {
  color: var(--text-main-color-2);
}

.call-me select:valid {
  color: var(--text-main-color-2);
}
textarea {
  resize: none;
}

.sendData {
  border-radius: 15px;
  padding: 15px 0;
  background: var(--main-color-linear-bg);
  font-size: 1.2rem;
  margin-top: 20px;
  transition: all ease 0.3s;
  color: white !important;
}
.sendData:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px var(--text-main);
}
/**********************footer************************************/
.footer {
  width: 100%;
  background-color: var(--main-color-footer);
  border-top: 2px solid var(--main-border-nav);
}

.footer p {
  color: var(--text-main-color-2);
}

.cv {
  border: 2px solid var(--main-border-nav);
  border-radius: 15px;
  padding: 13px;
  background-color: var(--main-color-custom);
  cursor: pointer;
  transition: all ease 0.3s;
}
.cv:hover {
  border: 2px solid var(--text-main);
  transform: translateY(-6px);
}
.cv:hover {
  border: 2px solid var(--text-main);
  transform: translateY(-6px);
}
.cv:hover .downloadCv {
  background-color: var(--text-main);
}
.cv:hover .downloadCv i {
  color: white;
}
.cv:hover i:nth-child(2) {
  color: var(--text-main);
}

.downloadCv {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  padding: 10px;
  background-color: #8f91f64c;
  transition: all ease 0.3s;
}
.downloadCv i {
  color: var(--text-main);
  transition: all ease 0.3s;
}
.cv p {
  font-size: 0.8rem;
  color: var(--text-main-color-2);
}
.cv h6 {
  color: var(--text-main-color);
}
.cv i:nth-child(2) {
  color: var(--text-main-color-2);
  transition: all ease 0.3s;
}

.textrsasy {
  font-size: 0.8rem;
  color: var(--text-main-color-2);
}

.textrsasyyy {
  color: var(--text-main-color);
  font-size: 0.9rem;
  border-bottom: 1.5px solid green;
}

.links-footer h6 {
  color: var(--text-main-color);
}
.links-footer ul li a {
  color: var(--text-main-color-2);
  text-decoration: none;
  transition: all ease 0.3s;
}
.links-footer ul li a:hover {
  color: var(--text-main);
}

.hrr {
  border-top: 1px solid var(--text-main-color-2);
  width: 100%;
}

.cards-cutomerr{
  transition: all ease 0.5s;
}

.cards-cutomerr:hover{
transform: translateX(100%);
}

